
  
html{  background: url("https://cdn.pixabay.com/photo/2014/06/16/23/40/grey-370125_960_720.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
font-family: Cursive;
margin: 2%;
} 
header img {
border-radius: 50%;
width: 200px;
border: 2px;
margin: 2%;

}
h1 {
  margin: 2%;
  font-size: xx-large;


}
h2 {
  font-size: large;
  margin: 2%;


}
h3{  
  margin: 2%;
  font-size: large;
}
header h1{
  float: right;
  margin-top:5%;
  margin-right:50%;
  
}
.progress-container {
    width: 100%;
    height: 10px;
    background: rgb(2, 85, 110);


  }


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 2%;

  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    margin: 2%;


  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    color: black;
    margin: 2%;

  }
  ul.list1 {
    list-style-type: circle;
    font-size: x-large;
    font-weight: bold;
    margin: 2%;


  }